$myFont: "microsoft yahei", "Source Sans Pro", "-apple-system","BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial","sans-serif";
$myColor: #e60012;
$myColor2: lighten($myColor,80%);
$myColor3: lighten($myColor,30%);
$myFontSize: 12px;
$myLineHeight: 1.6;
$myWidth: 680px;
$navColor: #22baf1,#6be2b4,#ddc95a,#f0915a,#ff6f6f,#dd54a4,#ae8adf,#829ae7,#e782df,#f78a8a;
$fixedNavHeight: 20%;

/* scss */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #666;
	font-family: $myFont;
	line-height: $myLineHeight;
	font-size: $myFontSize;
	background-image: url(../image/bg.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// display: none;
} 
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
img{max-width: 100%;}

.container{
	position: relative;	z-index: 1;height: 100%;
	.header{position: relative; z-index: 300;height: 8%; background-color: #fff;text-align: left;}
	.header::before{content: "";display: inline-block;width: 5%;height: 100%;vertical-align: middle;}
	.header img{display: inline-block;vertical-align: middle;height: 60%;}
	.header span{position: absolute;right: 20%;top: 50%;font-size: 3.2em;font-weight: bold; color: $myColor;line-height: 1;transform: translate(0, -50%);}
	.body{position: relative;	z-index: 1;height: 92%;}
}
.btn-fullscreen{
	position: absolute;width:7%;right:3em;top:50%;transform: translate(0, -50%); background: url(../image/common/icon-fullscreen-w2.png) $myColor no-repeat center / 90% auto;z-index: 100;box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.5);border-radius: 50%;
	border:5px #fff solid;
	&::before{content: "";display: inline-block;padding-bottom: 100%;vertical-align: top;}
}
html.full-screen {
	.btn-fullscreen {background-image: url(../image/common/icon-exitfullscreen-w2.png);}
}

.fullscreen-mask{
	position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 100;background-color:rgba(0,0,0,0.6);
	.btn-fullscreen{
		position: absolute;width:20%;left:50%;top:50%;transform: translate(-50%, -50%); background: url(../image/common/icon-fullscreen-w2.png) $myColor no-repeat center / 90% auto;z-index: 100;box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.5);border-radius: 50%;
		border:10px #fff solid;
		&::before{content: "";display: inline-block;padding-bottom: 100%;vertical-align: top;}
	}
	&.hide{display: none;}
}

.auto-scroll > * {animation-timing-function: linear; animation-iteration-count: infinite;}

.side-btns{
	position: absolute;z-index: 200; right:-0%;top:10%;text-align: center;color: $myColor;line-height: 1.2;font-size: 2em;transform: translate(150%, 0);transition: transform 300ms 500ms;
	b{
		display: block ;background: $myColor;color: #fff; width: 1em;padding: 1em;margin-bottom: 0.5em; text-align:center; border-radius: 0.5em 0em 0em 0.5em;box-shadow: 0px 0 20px rgba(0,0,0,0.3);user-select: none;cursor: pointer;
		&.disabled {color:$myColor3;pointer-events: none;}
	}
	.scroll {display: none;}
	.scroll[status=top],.scroll[status=mid],.scroll[status=bottom] {display: block;}
	.scroll[status=top] b:first-child{color: $myColor3;pointer-events: none;}
	.scroll[status=bottom] b:last-child{color: $myColor3;pointer-events: none;}
}
.has-nav .side-btns{transform: translate(0, 0);}


.nav-fixed{
	position: absolute;z-index: 200; width: 100%;left: 0;top:0;text-align: center;transform: translate(0,-300%);transition: transform 300ms 0ms;font-size:0.65em;
	&:after{content:"";display: inline-block;width: 0;height: 0;padding-bottom: $fixedNavHeight;vertical-align: middle;}
	a{display: inline-block; width: 10%;margin: 0 0.1em;/*filter: grayscale(100%);*/vertical-align: middle;}
	a b{display: inline-block;width: 100%;height: 0; padding-bottom: 100%;vertical-align: top;background-color: #ddd;color: #fff;opacity: 0.9;border-radius: 50%;white-space: nowrap;}
	a b:after{content:"";display: inline-block;width: 0;height: 0;padding-bottom: 100%;vertical-align: middle;}
	a span{display: inline-block;transform-origin: center;vertical-align: middle;text-shadow: 1px 1px 3px rgba(0,0,0,0.3);margin-top: 1em;}
	a span h2{font-size: 1.6em;}
	a span em{display: block; font-style: normal;font-weight: 100;}
	a.active {position: relative;filter: grayscale(0%);}
	a.active b{color: #fff;box-shadow:0 0 1.5em 0.5em #fff inset;opacity: 1;}

	@for $i from 1 through 10 {	
		&.nav-num-#{$i} {
			font-size:1.3em - ($i - 5 ) * 0.13 ;
			a { width: 80% / $i;}
		}
	}

}
.has-nav .nav-fixed{transform: translate(0,0);transition: transform 300ms 300ms;}
.nav {
	@each $c in $navColor {
		$i:index($navColor,$c); // 获取 $c 在数组中的索引，并赋值给 $i 赋值用冒号，不是等号~！
		a:nth-child(#{$i}) b {background-color: $c;}
	}
}

.page {
	position: relative;	z-index: 100;height: 100%;display: none;
	&.page-show{display: block;}
}
.has-nav .page{background-color: rgba(0, 0, 0, 0.3);}

.page > main{position: absolute;z-index: 10; width: 90%;height: 80%;border-radius: 1em; left: 5%; padding: 5%;margin-top: $fixedNavHeight; box-sizing: border-box;background-color: rgba(255,255,255,1);}
.page > main > .scrollbox{height: 100%;overflow-y: auto;}
.page > main > .scrollbox img{width: 100%;}

@keyframes btn{
	0%   {transform:scale(1);}
	2%  {transform:scale(1.11);}
	4%  {transform:scale(1);}
	100% {transform:scale(1);}
}

.video {
	position: absolute;
	width: 40%;left: 10%;top: 50%;transform: translateY(-50%);
	border: 5px #fff solid;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	video {display: block; width: 100%;}
}

.exchange-fund{	
	position: absolute;	width: 90%;	height: 37%;left: 5%;top: 60%;white-space: nowrap;letter-spacing: -0.35em;font-size: 0.5em;

	dd::-webkit-scrollbar{width:0px; height:0px;}/*滚动条宽度*/ 
	> div{color:#000;display:inline-block;width: 48%;height:100%;margin-right: 4%;background:rgba(255,255,255,.9);border:2px #666 solid;border-radius: 10px;vertical-align: top;}
	> div dl{width: 90%;height: 94%;	margin: auto;	position: relative;	top: 3%;}
	> div dt{padding: 1em;	height: 2em;background: rgba(0,0,0,.6);color: #fff;}
	> div dt span{line-height: 2em;}
	> div dd{height: calc(100% - 2em);overflow: hidden;}
	li{line-height: 1.5;padding: 1em;}
	li:nth-child(odd){background: rgba(0,0,0,.1);}
	span{display: inline-block;letter-spacing: 0;text-align: center;vertical-align: top;white-space: normal;}
	> .exchange span:nth-child(1){width: 40%;text-align: left}
	> .exchange span:nth-child(2){width: 15%;}
	> .exchange span:nth-child(3){width: 15%;}
	> .exchange span:nth-child(4){width: 15%;}
	> .exchange span:nth-child(5){width: 15%;}
	> .fund span:nth-child(1){width: 13%;text-align: left}
	> .fund span:nth-child(2){width: 30%;text-align: left}
	> .fund span:nth-child(3){width: 12%;text-align: left}
	> .fund span:nth-child(4){width: 12%;}
	> .fund span:nth-child(5){width: 11%;}
	> .fund span:nth-child(6){width: 11%;}
	> .fund span:nth-child(7){width: 11%;}
}

.tips{
	text-align: center;
	color: #e60012;
	font-size: 1.2em;
}

.popup{
	position: absolute;display: none; z-index: 200; width: 100%;height: 100%;border-radius: 1em; left: 0;top:0;background: rgba(255,255,255,0.8);box-sizing: border-box;
	&.show{display: block;}
	.inner{position: relative; width: 70%;margin: auto;margin-top:15%;background: #fff;border-radius: 1em;box-shadow: 0 0 80px rgba(0,0,0,0.6);}
	.close{position: absolute;right: 0;top: 0;background: #fff;width: 7em;height: 7em;text-align: center; border-radius: 8em; color: $myColor;overflow: hidden;transform: translate(40%, -40%);line-height: 1;box-shadow: 0 0 20px rgba(0,0,0,0.0);cursor: pointer;}
	.close:before{content: "";display: inline-block;height: 100%;vertical-align: middle;}
	.close:after{content: "关闭";font-size: 2em;position: relative;z-index: 10;vertical-align: middle;}
	.content{padding: 5%;min-height: 10em;}
	.content .people {overflow: hidden;}
	.content .people img {float: left;width: 40%;margin-right: 3em;}
	.content .people img + div {display: block;overflow: hidden;font-size: 1.5em;line-height: 1.5;padding-left: 5em;}
	.content .people img + div > *{font-size: 1em;margin-bottom: 1em;}
	.content .people img + div b{display:inline-block;width: 5em;margin-left: -5em;}
	.content .img-book{display: flex;flex-wrap: wrap;margin: 3% -3% 0 -3%;}
	.content .img-book img{width: 43%;margin: 2.9%;box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);}
}

.peak-tips{
	position:relative;width: 90%;margin: auto;background: rgba(255,255,255,0.9);box-sizing: border-box;font-size: 1.5em;border-radius: 1rem;border:1px #ddd solid;
	.hd{text-align: center;padding: 1rem;border-bottom: 2px $myColor solid;background: rgba(255, 255, 255, 0.3);}
	.hd h1{font-size: 1.9em;}
	.hd h2{font-size: 1em;color: #666;font-weight: normal;}
	.body{text-align: center;padding: 2rem 0;}
	.bd ul{text-align: left;display: inline-block;width: 49%;}
	.bd ul + ul{border-left: 2px #999 solid;}
	.bd ul li{display: block;text-align: left; margin: 0 15%;height: 3em;border-bottom: 1px #999 solid;}
	.bd ul li *{width: 1em; height: 100%;margin-left: 0.5em; display: none;vertical-align: middle;background-size: auto 60%;background-repeat: no-repeat;background-position: center;}
	.bd ul li.peak-1 *:nth-child(-n+1){display: inline-block;}
	.bd ul li.peak-2 *:nth-child(-n+2){display: inline-block;}
	.bd ul li.peak-3 *:nth-child(-n+3){display: inline-block;}
	.bd ul li.peak-4 *:nth-child(-n+4){display: inline-block;}
	.bd ul li.peak-5 *:nth-child(-n+5){display: inline-block;}
	.bd ul li.peak-6 *:nth-child(-n+6){display: inline-block;}
	.bd ul li s{background-image: url(../image/famale.png)}
	.bd ul li i{background-image: url(../image/male.png)}
	.ft{text-align: center;padding: 2rem 0;}
	.ft p{font-size: 0.8em;color: $myColor;}
	}

.page-home {
	.nav-home{
		position: absolute;width: 100%;left: 0;top: 0%;margin-top: 0%;text-align: center;font-size: 1.6em;
		&:after{content:"";display: inline-block;width: 0;height: 0;padding-bottom: 100%;vertical-align: top;}
		a{position: absolute;}
		a b {display: block; width: 100%;height: 100%;background-color: #ddd;color: #fff;border-radius: 50%;animation: btn 8000ms  infinite;font-weight: normal;white-space: nowrap;box-shadow:0 0 1.5em 0.5em #fff inset;}
		a b:after{content:"";display: inline-block;width: 0;height: 100%;vertical-align: middle;}
		a span{display: inline-block;transform-origin: center;vertical-align: middle;text-shadow: 1px 1px 3px rgba(0,0,0,0.3);}
		a span h2{font-size: 1.4em;}
		a span em{font-style: normal;font-weight: 100;display: block;}


		@for $i from 1 through 10 {	
			$navWidth:25%;		
			$navWidth2: $navWidth - ( $i * 0.5 );		
			$translateY1: -80%;
			$translateY2: -105%;
			$translateY3 : $translateY2 - ( ( $i - 5 ) * 10 );
			&.nav-num-#{$i} {
				// content:"#{($i - 1) * 10}";
				a {width: $navWidth2;height: $navWidth2; left: (100% - $navWidth2) / 2 ;top: (100% - $navWidth2) / 2;}
				@if $i < 5 {
					a {transform-origin: 50% 50%-$translateY1;}
				}@else {
					a {transform-origin: 50% 50%-$translateY3;}
				}
				
				@for $a from 1 through $i {
					@if $i < 5 {
						a:nth-child(#{$a}){transform:translate(0, $translateY1) rotate( 360deg / $i * ($a - 1) );}
						a:nth-child(#{$a}) span{transform:rotate(-360deg / $i * ($a - 1));}
					}@else {
						@if $a == $i {
							a:nth-child(#{$a}){transform:none;transform-origin: none;}
							a:nth-child(#{$a}) span{transform:none;}
						}@else {
							a:nth-child(#{$a}){transform:translate(0, $translateY3) rotate( 360deg / ($i - 1) * ($a - 1) );}
							a:nth-child(#{$a}) span{transform:rotate(-360deg / ($i - 1) * ($a - 1));}
						}
					}
				}
			}

			a:nth-child(#{$i}) b {animation-delay: 500ms * ($i - 1);}
		}

		// a:nth-child(1){width: 20% ;transform:translate(0, -120%) rotate(0deg);}
		// a:nth-child(1) span{transform:rotate(0deg);}
		// a:nth-child(2){width: 20% ;transform:translate(0, -120%) rotate(51.428deg);}
		// a:nth-child(2) span{transform: rotate(-51.428deg);}
		// a:nth-child(3){width: 20% ;transform:translate(0, -120%) rotate(102.857deg);}
		// a:nth-child(3) span{transform: rotate(-102.857deg);}
		// a:nth-child(4){width: 20% ;transform:translate(0, -120%) rotate(154.285deg);}
		// a:nth-child(4) span{transform:rotate(-154.285deg);}
		// a:nth-child(5){width: 20% ;transform:translate(0, -120%) rotate(205.714deg);}
		// a:nth-child(5) span{transform:rotate(-205.714deg);}
		// a:nth-child(6){width: 20% ;transform:translate(0, -120%) rotate(257.142deg);}
		// a:nth-child(6) span{transform:rotate(-257.142deg);}
		// a:nth-child(7){width: 20% ;transform:translate(0, -120%) rotate(308.571deg);}
		// a:nth-child(7) span{transform:rotate(-308.571deg);}

	}
}

.page-facilities {
	.facilities-box {
		border:5px $myColor solid;border-radius: 10px;
		padding: 5%;
		.facilities-logo img{width: auto; height: 4em;}
		.facilities-title{text-align: center;}
		ul{
			display: flex;
			flex-wrap: wrap;
			li {width: 14%;}
		}
	}
}

.page-personnel {
	dl{overflow: hidden;margin-top: 1em;}
	dt{font-size: 2em;}
	dd{margin: 0 -1%;}
	ul{
		display: flex;
		flex-wrap: wrap;
		li {width: 20%;padding: 1%;box-sizing: border-box;text-align: center;}
	}
}

.page-honor{
	.scrollbox > div {
		display: flex;
		flex-wrap: wrap;
		img {width: 50%;padding: 1%;box-sizing: border-box;text-align: center;}
	}
}


/*************
 * theme-ui-red
 *************/
 body.theme-ui-red {	 
	$myFont: "microsoft yahei", "Source Sans Pro", "-apple-system","BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial","sans-serif";
	$myColor: #e60012;
	$myColor2: lighten($myColor,80%);
	$myColor3: lighten($myColor,30%);
	$myFontSize: 12px;
	$myLineHeight: 1.6;
	$myWidth: 680px;
	$navColor:  #22baf1,#6be2b4,#ddc95a,#f0915a,#ff6f6f,#dd54a4,#ae8adf,#829ae7,#e782df,#f78a8a;

	/* scss */
	background-image: url(../image/bg.jpg);
	 
	.header{background-color: #fff;}
	.header span{color: $myColor;}
	.side-btns{
		color: $myColor;
		b{
			background: $myColor;color: #fff;
			&.disabled {color: #f5737d;}
		}
	}
	.nav{
		@each $c in $navColor {
			$i:index($navColor,$c); // 获取 $c 在数组中的索引，并赋值给 $i 赋值用冒号，不是等号~！
			a:nth-child(#{$i}) b {background-color: $c;}
	    }
	}
 }




/* y */
@media (min-aspect-ratio:1080/1930){
	html,body{height: 1920px;}
	.fullscreen-mask{
		.btn-fullscreen{width: 20%; top:20%;}
	}
	.page-home{
		.video{display: none;}
		.exchange-fund{display: block;}
	}
}

/* x */
@media (min-aspect-ratio:1920/1100){
	html,body{height: 1080px;}
	// .fullscreen-mask{
	// 	.btn-fullscreen{width: 8%;top:50%;}
	// }
	// .nav-fixed{
	// 	position: absolute;top:50%;width: 5%;margin-top: 0;;margin-left: 1%;transform: translate(-150% , -50%);transition: transform 300ms 0ms;
	// 	a{display: block;margin:0.5em 0; width: 100%;}
	// }
	// .has-nav .nav-fixed{transform: translate(0 , -50%);transition: transform 300ms 300ms;}

	// .popup{
	// 	.inner{position: relative; width: 70%;height: 90%; margin: auto;top:5%;}
	// 	.content{padding: 5%;height: 100%;overflow-y: auto;box-sizing: border-box;}
	// 	.content .people img {width: 17%;}
	// 	.content .img-book{margin: 3% -1% 0 -1%;}
	// 	.content .img-book img{width: 22.5%;margin: 0.8%;}
	// }
	// .page > main {
	// 	width: 60%;
	// 	height: 90%;
	// 	left: 20%;
	// 	top: 5%;
	// 	padding: 2%;
	// 	margin-top: 0;
	// }
	
	// .page-home{
	// 	.video{display: block;}
	// 	.exchange-fund{display: none;}
	// 	.nav-home{width: 50%;left: 50%;top: 50%;margin-top: 0;transform: translate(0, -50%);}
	// }
}


























/* scrollbar */
*{  
	scrollbar-face-color:#cccccc; /*面子*/  
	scrollbar-arrow-color:#fff; /*箭头*/  
	scrollbar-3dlight-color:#ccc; /*最外左*/  
	scrollbar-highlight-color:#ccc; /*左二*/  
	scrollbar-shadow-color:#ccc; /*右二*/  
	scrollbar-darkshadow-color:#ccc; /*右一*/  
	scrollbar-track-color:#eeeeee; /*滑道*/  
}   
::-webkit-scrollbar{width:4px; height:4px;}/*滚动条宽度*/ 
::-webkit-scrollbar-button{}/*滚动条按钮*/   
::-webkit-scrollbar-track{}/*滑道全部*/ 
::-webkit-scrollbar-track-piece{  
	background-color:#eee;  /*滑道*/  
	-webkit-border-radius:0px; /*滑道圆角宽度*/  
}  
::-webkit-scrollbar-thumb{  
	background-color:#ccc; /*滑动条表面*/  
	border:solid 2px #ccc; /*滑动条边框*/  
	border-radius:7px;  /*滑动条圆角宽度*/  
}  
/*横竖滚动条交角*/  
::-webkit-scrollbar-corner {  
	background-color:none;  
}  
/*横竖滚动条交角图案*/  
::-webkit-resizer {  
	/*background-image: url(/public/img/resizer-inactive.png);*/  
   background-repeat: no-repeat;  
   background-position: bottom right;  
}  
/*鼠标滑过滑动条*/  
::-webkit-scrollbar-thumb:hover{  
	background-color:#bbb; 
	border:solid 2px #bbb; /*滑动条边框*/   
}











