<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="format-detection" content="telephone=no" />
	<!-- <link href="css/style.min.css" rel="stylesheet"> -->
	<link href="js/swiper-master/swiper-bundle.min.css" rel="stylesheet">
	<script src="js/jquery.1.11.3.min.js"></script>
	<script src="js/lina/__DATA.js"></script>
	<script src="js/swiper-master/swiper-bundle.min.js"></script>
	<script src="js/API.js"></script>
	<script src="js/art-template-4.13.2.js"></script>
	<script src="js/index.js"></script>
</head>

<body class="theme-red">

	<div class="container">
		<div class="header"><img src="image/logo.png"><span>真诚 所以依赖</span></div>
		<div class="body">
			<div>
				<script id="tpl-nav-fixed" type="text/html">
					<nav id="navFixed" class="nav nav-fixed nav-num-{{nav.length}}">
						{{each nav}}
						<a href="#" data-tpl="{{$value.template}}">
							<b>
								<span>
									<h2>{{$value.zh}}</h2>
									<em>{{$value.en}}</em>
								</span>
							</b>
						</a>
						{{/each}}
					</nav>	
				</script>
			</div>
			

			<div class="side-btns">
				<div class="back-home">
					<b>返回首页</b>
				</div>
				<div class="scroll">
					<b>上滑</b>
					<b>下滑</b>
				</div>
			</div>

			<div id="popup" class="popup">
				<div class="inner">
					<a class="close"></a>
					<div class="content"></div>
				</div>
			</div>

			<!-- 首页 -->		
			<section class="page page-home page-show">
				<div>
					<script id="tpl-nav-home" type="text/html">
						<nav class="nav nav-home nav-num-{{nav.length}}">
							{{each nav}}
							<a href="#" data-tpl="{{$value.template}}">
								<b>
									<span>
										<h2>{{$value.zh}}</h2>
										<em>{{$value.en}}</em>
									</span>
								</b>
							</a>
							{{/each}}
						</nav>
					</script>
				</div>

				<div class="banner">
					<script id="tpl-banner" type="text/html">
						{{if siteBanner && siteBanner.length }}
						<section class="swiper-container swiper-home-banner">
							<!-- <button class="swiper-button-prev"></button>
							<button class="swiper-button-next"></button> -->
							<div class="swiper-wrapper">
								{{each siteBanner}}
								<div class="swiper-slide"><img src="{{$value}}"></div>
								{{/each}}
							</div>
							<div class="swiper-pagination"></div>
						</section>
						{{/if}}
					</script>
				</div>
				

				<div class="video">
					<script id="tpl-video" type="text/html">
						{{if siteVideo }}
						<div class="video-container"><video src="{{siteVideo}}" loop controls></video></div>
						{{/if}}
					</script>
				</div>
				

				<div class="exchange-fund">
					<div class="exchange">
						<script id="tpl-exchange" type="text/html">
							<dl>
								<dt>
									<span>货币对</span>
									<span>买入价</span>
									<span>卖出价</span>
									<span>最低买入</span>
									<span>最高卖出</span>
								</dt>
								<dd class="auto-scroll">
									<ul>
										{{each list}}
											<li>
												<span>{{$value.CurrencyPair}}</span>
												<span>{{$value.BuyPrice}}</span>
												<span>{{$value.SalePrice}}</span>
												<span>{{$value.LowestBuyIn}}</span>
												<span>{{$value.HighestSellOut}}</span>
											</li>
										{{/each}}
									</ul>
								</dd>
							</dl>
						</script>
					</div>
					<div class="fund">
						<script id="tpl-fund" type="text/html">
							<dl>
								<dt>
									<span>基金代码</span>
									<span>基金简称</span>
									<span>单位净值</span>
									<span>累计净值</span>
									<span>日涨幅</span>
									<span>月涨幅</span>
									<span>季涨幅</span>
								</dt>
								<dd class="auto-scroll">
									<ul>
										{{each list}}
											<li>
												<span>{{$value.FundCode}}</span>
												<span>{{$value.ShortName}}</span>
												<span>{{$value.NetValue}}</span>
												<span>{{$value.AccumulatedNetValue}}</span>
												<span>{{$value.DayChanged}}</span>
												<span>{{$value.LastMonth}}</span>
												<span>{{$value.LastQuarter}}</span>
											</li>
										{{/each}}
									</ul>
								</dd>
							</dl>
						</script>
					</div>
				</div>
			</section>
				
			<!-- 网点导览 -->
			<section id="pageGuide" class="page page-guide">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-guide-content" type="text/html">
								<div>{{@ content}}</div>
								<div class="peak-tips">
									<div class="hd">
										<h1>高峰提示</h1>
										<h2>Peak Time Reminder</h2>
									</div>
									<div class="bd">
										<ul>
											{{each peakTime}}
											<li class="peak-{{$value.value}}">{{$value.name}}
												<s></s><i></i><s></s><i></i><s></s><i></i><s></s><i></i>
											</li>
											{{/each}}
										</ul>
										<ul>
											{{each peakWeek}}
											<li class="peak-{{$value.value}}">{{$value.name}}
												<s></s><i></i><s></s><i></i><s></s><i></i><s></s><i></i>
											</li>
											{{/each}}
										</ul>
									</div>
									<div class="ft">
										<div>尊敬的客户，您好！为了您能快速办理业务，请尽量避开高峰时段</div>
										<p>*每月15号-18号、26号-28号为业务高峰期*</p>
									</div>
								</div>
							</script>
						</div>
					</div>
				</main>
			</section>

			<!-- 便民设施 -->
			<section id="pageFacilities" class="page page-facilities">
				<main>
					<div class="scrollbox">
						<div>
							<div class="facilities-box">
								<div class="facilities-logo"><img src="image/logo.png"></div>
								<div class="facilities-title"><img src="image/2/title.png"></div>
								<ul>
									<script id="tpl-page-facilities" type="text/html">
										{{each list}}
										<li data-img="{{$value.img}}">
											<img src="{{$value.icon}}">
										</li>
										{{/each}}
									</script>
								</ul>
								<div class="tips">*点击可查看</div>
							</div>
						</div>
					</div>
				</main>
			</section>

			<!-- 党建信息 -->
			<section id="pageParty" class="page page-party">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-party" type="text/html">
								{{@ content}}
							</script>
						</div>
					</div>
				</main>
			</section>

			<!-- 服务人员 -->
			<section id="pagePersonnel" class="page page-personnel">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-personnel" type="text/html">
								<div><img src="{{groupPhoto}}"></div>
								<div id="peopleList">
									{{each category}}
									<dl>
										<dt>{{$value.cate}}</dt>
										<dd>
											<ul>
												{{each $value.list}}
												<li data-personnel='{{$value}}'>
													<img src="{{$value.photo}}">
													<div>{{$value.promise}}</div>
													<div>{{$value.name}}</div>
												</li>
												{{/each}}
											</ul>
										</dd>
									</dl>
									{{/each}}
								</div>
							</script>	
						</div>
					</div>
				</main>
			</section>

			<!-- 消费者保护 -->
			<section id="pageConsumer" class="page page-consumer">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-consumer" type="text/html">
								{{@ content}}
							</script>
						</div>
					</div>
				</main>
			</section>

			<!-- 贵宾增值服务 -->
			<section id="pageVip" class="page page-vip">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-vip" type="text/html">
								{{@ content}}
							</script>
						</div>
					</div>
				</main>
			</section>

			<!-- 理财资讯 -->
			<section id="pageFinancial" class="page page-financial">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-financial" type="text/html">
								{{@ content}}
							</script>
						</div>
					</div>
				</main>
			</section>

			<!-- 我的的荣誉 -->
			<section id="pageHonor" class="page page-honor">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-honor" type="text/html">
								{{@ content}}
							</script>
						</div>
					</div>
				</main>
			</section>

			<!-- 13周年庆 -->
			<section id="pageAnniversary" class="page page-anniversary">
				<main>
					<div class="scrollbox">
						<div>
							<script id="tpl-page-anniversary" type="text/html">
								{{@ content}}
							</script>
						</div>
					</div>
				</main>
			</section>
		</div>
	</div>

	<script id="tpl-page-personnel-detail" type="text/html">
		<div class="people">
			<img src="{{photo}}">
			<div>
				{{if name }}<h2><b>姓名：</b>{{name}}</h2>{{/if}}
				{{if number }}<h2><b>工号：</b>{{number}}</h2>{{/if}}
				{{if post }}<h2><b>岗位：</b>{{post}}</h2>{{/if}}
				{{if promise }}<h2><b>服务承诺：</b>{{promise}}</h2>{{/if}}
				{{if qualification }}<h2><b>销售资质：</b>{{qualification}}</h2>{{/if}}
			</div>
		</div>
		{{if qualificationImgs && qualificationImgs.length }}
		<div class="img-scroll">
			<div class="img-book">
				{{each qualificationImgs}}
				<img src="{{$value}}"><span class="column-space"></span>
				{{/each}}
			</div>
		</div>
		{{/if}}
	</script>

	
</body>

</html>