@charset "UTF-8";
/* scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  font-family: "microsoft yahei", "Source Sans Pro", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  line-height: 1.6;
  font-size: 12px;
  background-image: url(../image/bg.jpg);
  background-size: cover;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

.column-space {
  display: inline-block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.column-space::before {
  content: "space";
}

.container {
  position: relative;
  z-index: 1;
  height: 100%;
}

.container .header {
  position: relative;
  z-index: 300;
  height: 8%;
  background-color: #fff;
  text-align: left;
}

.container .header::before {
  content: "";
  display: inline-block;
  width: 5%;
  height: 100%;
  vertical-align: middle;
}

.container .header img {
  display: inline-block;
  vertical-align: middle;
  height: 60%;
}

.container .header span {
  position: absolute;
  right: 20%;
  top: 50%;
  font-size: 3.2em;
  font-weight: bold;
  color: #e60012;
  line-height: 1;
  transform: translate(0, -50%);
}

.container .body {
  position: relative;
  z-index: 1;
  height: 92%;
}

.btn-fullscreen {
  position: absolute;
  width: 7%;
  right: 3em;
  top: 50%;
  transform: translate(0, -50%);
  background: url(../image/common/icon-fullscreen-w2.png) #e60012 no-repeat center/90% auto;
  z-index: 100;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 5px #fff solid;
}

.btn-fullscreen::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
  vertical-align: top;
}

.full-screen .btn-fullscreen {
  background-image: url(../image/common/icon-exitfullscreen-w2.png);
}

.fullscreen-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.fullscreen-mask .btn-fullscreen {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../image/common/icon-fullscreen-w2.png) #e60012 no-repeat center/90% auto;
  z-index: 100;
  box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 10px #fff solid;
}

.fullscreen-mask .btn-fullscreen::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
  vertical-align: top;
}

.fullscreen-mask.hide {
  display: none;
}

.auto-scroll > * {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.side-btns {
  position: absolute;
  z-index: 200;
  right: -0%;
  top: 10%;
  text-align: center;
  color: #e60012;
  line-height: 1.2;
  font-size: 2em;
  transform: translate(150%, 0);
  transition: transform 300ms 500ms;
}

.side-btns b {
  display: block;
  background: #e60012;
  color: #fff;
  width: 1em;
  padding: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  border-radius: 0.5em 0em 0em 0.5em;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}

.side-btns b.disabled {
  color: #ff808a;
  pointer-events: none;
}

.side-btns .scroll {
  display: none;
}

.side-btns .scroll[status=top], .side-btns .scroll[status=mid], .side-btns .scroll[status=bottom] {
  display: block;
}

.side-btns .scroll[status=top] b:first-child {
  color: #ff808a;
  pointer-events: none;
}

.side-btns .scroll[status=bottom] b:last-child {
  color: #ff808a;
  pointer-events: none;
}

.has-nav .side-btns {
  transform: translate(0, 0);
}

.nav-fixed {
  position: absolute;
  z-index: 200;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  transform: translate(0, -300%);
  transition: transform 300ms 0ms;
  font-size: 0.65em;
}

.nav-fixed:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  padding-bottom: 20%;
  vertical-align: middle;
}

.nav-fixed a {
  display: inline-block;
  width: 10%;
  margin: 0 0.1em;
  /*filter: grayscale(100%);*/
  vertical-align: middle;
}

.nav-fixed a b {
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  vertical-align: top;
  background-color: #ddd;
  color: #fff;
  opacity: 0.9;
  border-radius: 50%;
  white-space: nowrap;
}

.nav-fixed a b:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  padding-bottom: 100%;
  vertical-align: middle;
}

.nav-fixed a span {
  display: inline-block;
  transform-origin: center;
  vertical-align: middle;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 1em;
}

.nav-fixed a span h2 {
  font-size: 1.6em;
}

.nav-fixed a span em {
  display: block;
  font-style: normal;
  font-weight: 100;
}

.nav-fixed a.active {
  position: relative;
  filter: grayscale(0%);
}

.nav-fixed a.active b {
  color: #fff;
  box-shadow: 0 0 1.5em 0.5em #fff inset;
  opacity: 1;
}

.has-nav .nav-fixed {
  transform: translate(0, 0);
  transition: transform 300ms 300ms;
}

.nav a:nth-child(1) b {
  background-color: #22baf1;
}

.nav a:nth-child(2) b {
  background-color: #6be2b4;
}

.nav a:nth-child(3) b {
  background-color: #ddc95a;
}

.nav a:nth-child(4) b {
  background-color: #f0915a;
}

.nav a:nth-child(5) b {
  background-color: #ff6f6f;
}

.nav a:nth-child(6) b {
  background-color: #dd54a4;
}

.nav a:nth-child(7) b {
  background-color: #ae8adf;
}

.nav a:nth-child(8) b {
  background-color: #829ae7;
}

.nav a:nth-child(9) b {
  background-color: #e782df;
}

.nav a:nth-child(10) b {
  background-color: #f78a8a;
}

.page {
  position: relative;
  z-index: 100;
  height: 100%;
  display: none;
}

.page.page-show {
  display: block;
}

.has-nav .page {
  background-color: rgba(0, 0, 0, 0.3);
}

.page > main {
  position: absolute;
  z-index: 10;
  width: 90%;
  height: 80%;
  border-radius: 1em;
  left: 5%;
  padding: 5%;
  margin-top: 20%;
  box-sizing: border-box;
  background-color: white;
}

.page > main > .scrollbox {
  height: 100%;
  overflow-y: auto;
}

.page > main > .scrollbox img {
  width: 100%;
  vertical-align: top;
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  2% {
    transform: scale(1.11);
  }
  4% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  display: none;
}

.banner .swiper-home-banner {
  position: absolute;
  width: 80%;
  height: 30%;
  left: 10%;
  top: 60%;
  overflow: hidden;
}

.video {
  display: none;
}

.video .video-container {
  position: absolute;
  width: 40%;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  border: 5px #fff solid;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #000;
}

.video .video-container video {
  display: block;
  width: 100%;
}

.exchange-fund {
  position: absolute;
  width: 90%;
  height: 37%;
  left: 5%;
  top: 60%;
  white-space: nowrap;
  letter-spacing: -0.35em;
  font-size: 0.5em;
  /*滚动条宽度*/
}

.exchange-fund dd::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.exchange-fund > div {
  color: #000;
  display: inline-block;
  width: 48%;
  height: 100%;
  margin-right: 4%;
  background: rgba(255, 255, 255, 0.9);
  border: 2px #666 solid;
  border-radius: 10px;
  vertical-align: top;
}

.exchange-fund > div dl {
  width: 90%;
  height: 94%;
  margin: auto;
  position: relative;
  top: 3%;
}

.exchange-fund > div dt {
  padding: 1em;
  height: 2em;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.exchange-fund > div dt span {
  line-height: 2em;
}

.exchange-fund > div dd {
  height: calc(100% - 2em);
  overflow: hidden;
}

.exchange-fund li {
  line-height: 1.5;
  padding: 1em;
}

.exchange-fund li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.exchange-fund span {
  display: inline-block;
  letter-spacing: 0;
  text-align: center;
  vertical-align: top;
  white-space: normal;
}

.exchange-fund > .exchange span:nth-child(1) {
  width: 40%;
  text-align: left;
}

.exchange-fund > .exchange span:nth-child(2) {
  width: 15%;
}

.exchange-fund > .exchange span:nth-child(3) {
  width: 15%;
}

.exchange-fund > .exchange span:nth-child(4) {
  width: 15%;
}

.exchange-fund > .exchange span:nth-child(5) {
  width: 15%;
}

.exchange-fund > .fund span:nth-child(1) {
  width: 13%;
  text-align: left;
}

.exchange-fund > .fund span:nth-child(2) {
  width: 28%;
  text-align: left;
}

.exchange-fund > .fund span:nth-child(3) {
  width: 13%;
  text-align: left;
}

.exchange-fund > .fund span:nth-child(4) {
  width: 13%;
}

.exchange-fund > .fund span:nth-child(5) {
  width: 11%;
}

.exchange-fund > .fund span:nth-child(6) {
  width: 11%;
}

.exchange-fund > .fund span:nth-child(7) {
  width: 11%;
}

.tips {
  text-align: center;
  color: #e60012;
  font-size: 1.2em;
}

.popup {
  position: absolute;
  display: none;
  z-index: 200;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.popup.show {
  display: block;
}

.popup .inner {
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 15%;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.6);
}

.popup .close {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  width: 7em;
  height: 7em;
  text-align: center;
  border-radius: 8em;
  color: #e60012;
  overflow: hidden;
  transform: translate(40%, -40%);
  line-height: 1;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
}

.popup .close:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.popup .close:after {
  content: "关闭";
  font-size: 2em;
  position: relative;
  z-index: 10;
  vertical-align: middle;
}

.popup .content {
  padding: 5%;
  min-height: 10em;
  text-align: center;
}

.popup .content .people {
  overflow: hidden;
  text-align: left;
}

.popup .content .people img {
  float: left;
  width: 30%;
  margin-right: 3em;
}

.popup .content .people img + div {
  display: block;
  overflow: hidden;
  font-size: 1.5em;
  line-height: 1.5;
  padding-left: 5em;
}

.popup .content .people img + div > * {
  font-size: 1em;
  margin-bottom: 1em;
  min-width: 14em;
}

.popup .content .people img + div b {
  display: inline-block;
  width: 5em;
  margin-left: -5em;
}

.popup .content .img-scroll {
  margin-top: 5%;
  max-height: 50vh;
  overflow-y: auto;
  text-align: left;
}

.popup .content .img-book {
  column-count: 2;
  /*行*/
  column-gap: 20px;
  /*没行的每列间距*/
  column-fill: auto;
}

.popup .content .img-book img {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.popup-fullscreen .header {
  z-index: 0;
}

.popup-fullscreen .popup {
  position: fixed;
  z-index: 1000;
}

.popup-fullscreen .popup .inner {
  width: 100%;
  margin-top: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #e60012;
}

.popup-fullscreen .popup .inner .close {
  transform: translate(-10%, 10%);
}

.popup-fullscreen .popup .inner .content {
  padding: 0;
}

.peak-tips {
  position: relative;
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  font-size: 1.5em;
  border-radius: 1rem;
  border: 1px #ddd solid;
}

.peak-tips .hd {
  text-align: center;
  padding: 1rem;
  border-bottom: 2px #e60012 solid;
  background: rgba(255, 255, 255, 0.3);
}

.peak-tips .hd h1 {
  font-size: 1.9em;
}

.peak-tips .hd h2 {
  font-size: 1em;
  color: #666;
  font-weight: normal;
}

.peak-tips .body {
  text-align: center;
  padding: 2rem 0;
}

.peak-tips .bd ul {
  text-align: left;
  display: inline-block;
  width: 49%;
}

.peak-tips .bd ul + ul {
  border-left: 2px #999 solid;
}

.peak-tips .bd ul li {
  display: block;
  text-align: left;
  margin: 0 15%;
  height: 3em;
  border-bottom: 1px #999 solid;
}

.peak-tips .bd ul li * {
  width: 1em;
  height: 100%;
  margin-left: 0.5em;
  display: none;
  vertical-align: middle;
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.peak-tips .bd ul li.peak-1 *:nth-child(-n+1) {
  display: inline-block;
}

.peak-tips .bd ul li.peak-2 *:nth-child(-n+2) {
  display: inline-block;
}

.peak-tips .bd ul li.peak-3 *:nth-child(-n+3) {
  display: inline-block;
}

.peak-tips .bd ul li.peak-4 *:nth-child(-n+4) {
  display: inline-block;
}

.peak-tips .bd ul li.peak-5 *:nth-child(-n+5) {
  display: inline-block;
}

.peak-tips .bd ul li.peak-6 *:nth-child(-n+6) {
  display: inline-block;
}

.peak-tips .bd ul li s {
  background-image: url(../image/famale.png);
}

.peak-tips .bd ul li i {
  background-image: url(../image/male.png);
}

.peak-tips .ft {
  text-align: center;
  padding: 2rem 0;
}

.peak-tips .ft p {
  font-size: 0.8em;
  color: #e60012;
}

.page-home .nav-home {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0%;
  margin-top: 0%;
  text-align: center;
  font-size: 1.6em;
}

.page-home .nav-home:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  padding-bottom: 100%;
  vertical-align: top;
}

.page-home .nav-home a {
  position: absolute;
}

.page-home .nav-home a b {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  color: #fff;
  border-radius: 50%;
  animation: btn 8000ms  infinite;
  font-weight: normal;
  white-space: nowrap;
  box-shadow: 0 0 1.5em 0.5em #fff inset;
}

.page-home .nav-home a b:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.page-home .nav-home a span {
  display: inline-block;
  transform-origin: center;
  vertical-align: middle;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.page-home .nav-home a span h2 {
  font-size: 1.4em;
}

.page-home .nav-home a span em {
  font-style: normal;
  font-weight: 100;
  display: block;
}

.page-home .nav-home.nav-num-1 a {
  width: 24.5%;
  height: 24.5%;
  left: 37.75%;
  top: 37.75%;
}

.page-home .nav-home.nav-num-1 a {
  transform-origin: 50% 130%;
}

.page-home .nav-home.nav-num-1 a:nth-child(1) {
  transform: translate(0, -80%) rotate(0deg);
}

.page-home .nav-home.nav-num-1 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home a:nth-child(1) b {
  animation-delay: 0ms;
}

.page-home .nav-home.nav-num-2 a {
  width: 24%;
  height: 24%;
  left: 38%;
  top: 38%;
}

.page-home .nav-home.nav-num-2 a {
  transform-origin: 50% 130%;
}

.page-home .nav-home.nav-num-2 a:nth-child(1) {
  transform: translate(0, -80%) rotate(0deg);
}

.page-home .nav-home.nav-num-2 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-2 a:nth-child(2) {
  transform: translate(0, -80%) rotate(180deg);
}

.page-home .nav-home.nav-num-2 a:nth-child(2) span {
  transform: rotate(-180deg);
}

.page-home .nav-home a:nth-child(2) b {
  animation-delay: 500ms;
}

.page-home .nav-home.nav-num-3 a {
  width: 23.5%;
  height: 23.5%;
  left: 38.25%;
  top: 38.25%;
}

.page-home .nav-home.nav-num-3 a {
  transform-origin: 50% 130%;
}

.page-home .nav-home.nav-num-3 a:nth-child(1) {
  transform: translate(0, -80%) rotate(0deg);
}

.page-home .nav-home.nav-num-3 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-3 a:nth-child(2) {
  transform: translate(0, -80%) rotate(120deg);
}

.page-home .nav-home.nav-num-3 a:nth-child(2) span {
  transform: rotate(-120deg);
}

.page-home .nav-home.nav-num-3 a:nth-child(3) {
  transform: translate(0, -80%) rotate(240deg);
}

.page-home .nav-home.nav-num-3 a:nth-child(3) span {
  transform: rotate(-240deg);
}

.page-home .nav-home a:nth-child(3) b {
  animation-delay: 1000ms;
}

.page-home .nav-home.nav-num-4 a {
  width: 23%;
  height: 23%;
  left: 38.5%;
  top: 38.5%;
}

.page-home .nav-home.nav-num-4 a {
  transform-origin: 50% 130%;
}

.page-home .nav-home.nav-num-4 a:nth-child(1) {
  transform: translate(0, -80%) rotate(0deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(2) {
  transform: translate(0, -80%) rotate(90deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(2) span {
  transform: rotate(-90deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(3) {
  transform: translate(0, -80%) rotate(180deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(3) span {
  transform: rotate(-180deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(4) {
  transform: translate(0, -80%) rotate(270deg);
}

.page-home .nav-home.nav-num-4 a:nth-child(4) span {
  transform: rotate(-270deg);
}

.page-home .nav-home a:nth-child(4) b {
  animation-delay: 1500ms;
}

.page-home .nav-home.nav-num-5 a {
  width: 22.5%;
  height: 22.5%;
  left: 38.75%;
  top: 38.75%;
}

.page-home .nav-home.nav-num-5 a {
  transform-origin: 50% 155%;
}

.page-home .nav-home.nav-num-5 a:nth-child(1) {
  transform: translate(0, -105%) rotate(0deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(2) {
  transform: translate(0, -105%) rotate(90deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(2) span {
  transform: rotate(-90deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(3) {
  transform: translate(0, -105%) rotate(180deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(3) span {
  transform: rotate(-180deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(4) {
  transform: translate(0, -105%) rotate(270deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(4) span {
  transform: rotate(-270deg);
}

.page-home .nav-home.nav-num-5 a:nth-child(5) {
  transform: none;
  transform-origin: none;
}

.page-home .nav-home.nav-num-5 a:nth-child(5) span {
  transform: none;
}

.page-home .nav-home a:nth-child(5) b {
  animation-delay: 2000ms;
}

.page-home .nav-home.nav-num-6 a {
  width: 22%;
  height: 22%;
  left: 39%;
  top: 39%;
}

.page-home .nav-home.nav-num-6 a {
  transform-origin: 50% 165%;
}

.page-home .nav-home.nav-num-6 a:nth-child(1) {
  transform: translate(0, -115%) rotate(0deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(2) {
  transform: translate(0, -115%) rotate(72deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(2) span {
  transform: rotate(-72deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(3) {
  transform: translate(0, -115%) rotate(144deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(3) span {
  transform: rotate(-144deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(4) {
  transform: translate(0, -115%) rotate(216deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(4) span {
  transform: rotate(-216deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(5) {
  transform: translate(0, -115%) rotate(288deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(5) span {
  transform: rotate(-288deg);
}

.page-home .nav-home.nav-num-6 a:nth-child(6) {
  transform: none;
  transform-origin: none;
}

.page-home .nav-home.nav-num-6 a:nth-child(6) span {
  transform: none;
}

.page-home .nav-home a:nth-child(6) b {
  animation-delay: 2500ms;
}

.page-home .nav-home.nav-num-7 a {
  width: 21.5%;
  height: 21.5%;
  left: 39.25%;
  top: 39.25%;
}

.page-home .nav-home.nav-num-7 a {
  transform-origin: 50% 175%;
}

.page-home .nav-home.nav-num-7 a:nth-child(1) {
  transform: translate(0, -125%) rotate(0deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(2) {
  transform: translate(0, -125%) rotate(60deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(2) span {
  transform: rotate(-60deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(3) {
  transform: translate(0, -125%) rotate(120deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(3) span {
  transform: rotate(-120deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(4) {
  transform: translate(0, -125%) rotate(180deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(4) span {
  transform: rotate(-180deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(5) {
  transform: translate(0, -125%) rotate(240deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(5) span {
  transform: rotate(-240deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(6) {
  transform: translate(0, -125%) rotate(300deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(6) span {
  transform: rotate(-300deg);
}

.page-home .nav-home.nav-num-7 a:nth-child(7) {
  transform: none;
  transform-origin: none;
}

.page-home .nav-home.nav-num-7 a:nth-child(7) span {
  transform: none;
}

.page-home .nav-home a:nth-child(7) b {
  animation-delay: 3000ms;
}

.page-home .nav-home.nav-num-8 a {
  width: 21%;
  height: 21%;
  left: 39.5%;
  top: 39.5%;
}

.page-home .nav-home.nav-num-8 a {
  transform-origin: 50% 185%;
}

.page-home .nav-home.nav-num-8 a:nth-child(1) {
  transform: translate(0, -135%) rotate(0deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(2) {
  transform: translate(0, -135%) rotate(51.42857deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(2) span {
  transform: rotate(-51.42857deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(3) {
  transform: translate(0, -135%) rotate(102.85714deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(3) span {
  transform: rotate(-102.85714deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(4) {
  transform: translate(0, -135%) rotate(154.28571deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(4) span {
  transform: rotate(-154.28571deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(5) {
  transform: translate(0, -135%) rotate(205.71429deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(5) span {
  transform: rotate(-205.71429deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(6) {
  transform: translate(0, -135%) rotate(257.14286deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(6) span {
  transform: rotate(-257.14286deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(7) {
  transform: translate(0, -135%) rotate(308.57143deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(7) span {
  transform: rotate(-308.57143deg);
}

.page-home .nav-home.nav-num-8 a:nth-child(8) {
  transform: none;
  transform-origin: none;
}

.page-home .nav-home.nav-num-8 a:nth-child(8) span {
  transform: none;
}

.page-home .nav-home a:nth-child(8) b {
  animation-delay: 3500ms;
}

.page-home .nav-home.nav-num-9 a {
  width: 20.5%;
  height: 20.5%;
  left: 39.75%;
  top: 39.75%;
}

.page-home .nav-home.nav-num-9 a {
  transform-origin: 50% 195%;
}

.page-home .nav-home.nav-num-9 a:nth-child(1) {
  transform: translate(0, -145%) rotate(0deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(2) {
  transform: translate(0, -145%) rotate(45deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(2) span {
  transform: rotate(-45deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(3) {
  transform: translate(0, -145%) rotate(90deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(3) span {
  transform: rotate(-90deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(4) {
  transform: translate(0, -145%) rotate(135deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(4) span {
  transform: rotate(-135deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(5) {
  transform: translate(0, -145%) rotate(180deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(5) span {
  transform: rotate(-180deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(6) {
  transform: translate(0, -145%) rotate(225deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(6) span {
  transform: rotate(-225deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(7) {
  transform: translate(0, -145%) rotate(270deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(7) span {
  transform: rotate(-270deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(8) {
  transform: translate(0, -145%) rotate(315deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(8) span {
  transform: rotate(-315deg);
}

.page-home .nav-home.nav-num-9 a:nth-child(9) {
  transform: none;
  transform-origin: none;
}

.page-home .nav-home.nav-num-9 a:nth-child(9) span {
  transform: none;
}

.page-home .nav-home a:nth-child(9) b {
  animation-delay: 4000ms;
}

.page-home .nav-home.nav-num-10 a {
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
}

.page-home .nav-home.nav-num-10 a {
  transform-origin: 50% 205%;
}

.page-home .nav-home.nav-num-10 a:nth-child(1) {
  transform: translate(0, -155%) rotate(0deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(1) span {
  transform: rotate(0deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(2) {
  transform: translate(0, -155%) rotate(40deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(2) span {
  transform: rotate(-40deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(3) {
  transform: translate(0, -155%) rotate(80deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(3) span {
  transform: rotate(-80deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(4) {
  transform: translate(0, -155%) rotate(120deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(4) span {
  transform: rotate(-120deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(5) {
  transform: translate(0, -155%) rotate(160deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(5) span {
  transform: rotate(-160deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(6) {
  transform: translate(0, -155%) rotate(200deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(6) span {
  transform: rotate(-200deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(7) {
  transform: translate(0, -155%) rotate(240deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(7) span {
  transform: rotate(-240deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(8) {
  transform: translate(0, -155%) rotate(280deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(8) span {
  transform: rotate(-280deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(9) {
  transform: translate(0, -155%) rotate(320deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(9) span {
  transform: rotate(-320deg);
}

.page-home .nav-home.nav-num-10 a:nth-child(10) {
  transform: none;
  transform-origin: none;
}

.page-home .nav-home.nav-num-10 a:nth-child(10) span {
  transform: none;
}

.page-home .nav-home a:nth-child(10) b {
  animation-delay: 4500ms;
}

.page-facilities .facilities-box {
  border: 5px #e60012 solid;
  border-radius: 10px;
  padding: 3%;
}

.page-facilities .facilities-box .facilities-logo img {
  width: auto;
  height: 4em;
}

.page-facilities .facilities-box .facilities-title {
  text-align: center;
}

.page-facilities .facilities-box .facilities-title img {
  width: 60%;
}

.page-facilities .facilities-box ul {
  display: flex;
  flex-wrap: wrap;
}

.page-facilities .facilities-box ul li {
  width: 14%;
}

.page-personnel dl {
  overflow: hidden;
  margin-top: 1em;
}

.page-personnel dt {
  font-size: 2em;
}

.page-personnel dd {
  margin: 0 -1%;
}

.page-personnel ul {
  display: flex;
  flex-wrap: wrap;
}

.page-personnel ul li {
  width: 20%;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
}

.page-honor .scrollbox > div {
  column-count: 2;
  /*行*/
  column-gap: 20px;
  /*没行的每列间距*/
  column-fill: auto;
}

.page-honor .scrollbox > div img {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
}

/*************
 * theme-ui-red
 *************/
body.theme-ui-red {
  /* scss */
  background-image: url(../image/bg.jpg);
}

body.theme-ui-red .header {
  background-color: #fff;
}

body.theme-ui-red .header span {
  color: #e60012;
}

body.theme-ui-red .side-btns {
  color: #e60012;
}

body.theme-ui-red .side-btns b {
  background: #e60012;
  color: #fff;
}

body.theme-ui-red .side-btns b.disabled {
  color: #f5737d;
}

body.theme-ui-red .nav a:nth-child(1) b {
  background-color: #22baf1;
}

body.theme-ui-red .nav a:nth-child(2) b {
  background-color: #6be2b4;
}

body.theme-ui-red .nav a:nth-child(3) b {
  background-color: #ddc95a;
}

body.theme-ui-red .nav a:nth-child(4) b {
  background-color: #f0915a;
}

body.theme-ui-red .nav a:nth-child(5) b {
  background-color: #ff6f6f;
}

body.theme-ui-red .nav a:nth-child(6) b {
  background-color: #dd54a4;
}

body.theme-ui-red .nav a:nth-child(7) b {
  background-color: #ae8adf;
}

body.theme-ui-red .nav a:nth-child(8) b {
  background-color: #829ae7;
}

body.theme-ui-red .nav a:nth-child(9) b {
  background-color: #e782df;
}

body.theme-ui-red .nav a:nth-child(10) b {
  background-color: #f78a8a;
}

/* y 
 * 1080/1920==0.5625
 */
@media (min-aspect-ratio: 1080 / 1940) and (max-aspect-ratio: 1080 / 1900) {
  html, body {
    height: 1920px;
  }
  .btn-fullscreen {
    width: 7%;
    right: 3em;
    top: 50%;
  }
  .page-home .video {
    display: none;
  }
  .page-home .exchange-fund {
    display: block;
  }
  .nav-fixed.nav-num-1 {
    font-size: 1.72em;
  }
  .nav-fixed.nav-num-1 a {
    width: 80%;
  }
  .nav-fixed.nav-num-2 {
    font-size: 1.59em;
  }
  .nav-fixed.nav-num-2 a {
    width: 40%;
  }
  .nav-fixed.nav-num-3 {
    font-size: 1.46em;
  }
  .nav-fixed.nav-num-3 a {
    width: 26.66667%;
  }
  .nav-fixed.nav-num-4 {
    font-size: 1.33em;
  }
  .nav-fixed.nav-num-4 a {
    width: 20%;
  }
  .nav-fixed.nav-num-5 {
    font-size: 1.2em;
  }
  .nav-fixed.nav-num-5 a {
    width: 16%;
  }
  .nav-fixed.nav-num-6 {
    font-size: 1.07em;
  }
  .nav-fixed.nav-num-6 a {
    width: 13.33333%;
  }
  .nav-fixed.nav-num-7 {
    font-size: 0.94em;
  }
  .nav-fixed.nav-num-7 a {
    width: 11.42857%;
  }
  .nav-fixed.nav-num-8 {
    font-size: 0.81em;
  }
  .nav-fixed.nav-num-8 a {
    width: 10%;
  }
  .nav-fixed.nav-num-9 {
    font-size: 0.68em;
  }
  .nav-fixed.nav-num-9 a {
    width: 8.88889%;
  }
  .nav-fixed.nav-num-10 {
    font-size: 0.55em;
  }
  .nav-fixed.nav-num-10 a {
    width: 8%;
  }
}

/* x 
 * 1920/1080==1.7777
 */
@media (min-aspect-ratio: 1400 / 1080) and (max-aspect-ratio: 3300 / 1080) {
  .popup::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  html, body {
    height: 1080px;
  }
  .container .header::before {
    width: 2%;
  }
  .container .header span {
    right: 70%;
  }
  .btn-fullscreen {
    width: 3%;
    right: 2em;
    top: 50%;
  }
  .nav-fixed {
    position: absolute;
    top: 50%;
    width: 5%;
    margin-top: 0;
    margin-left: 1%;
    transform: translate(-150%, -50%);
    transition: transform 300ms 0ms;
  }
  .nav-fixed a {
    display: block;
    margin: 0.5em 0;
    width: 100%;
  }
  .has-nav .nav-fixed {
    transform: translate(0, -50%);
    transition: transform 300ms 300ms;
  }
  .banner .swiper-home-banner {
    width: 40%;
    height: 40%;
    left: 10%;
    top: 30%;
  }
  .popup {
    text-align: center;
  }
  .popup .inner {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 90%;
    margin: auto;
    text-align: left;
    vertical-align: middle;
  }
  .popup .content {
    padding: 5%;
    height: 100%;
    max-height: 83vh;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .popup .content .people img {
    width: 10vw;
  }
  .popup .content .img-scroll {
    margin-top: 3%;
    max-width: 70vw;
    max-height: 38vh;
  }
  .popup .content .img-book {
    column-count: 3;
    /*行*/
  }
  .popup-fullscreen .popup .inner {
    max-width: 100%;
    max-height: 100%;
  }
  .popup-fullscreen .popup .inner .content {
    max-height: 100vh;
  }
  .popup-fullscreen .popup .inner .content img {
    max-height: 100vh;
  }
  .page > main {
    width: 60%;
    height: 90%;
    left: 20%;
    top: 5%;
    padding: 2%;
    margin-top: 0;
  }
  .page-home .video {
    display: block;
  }
  .page-home .exchange-fund {
    display: none;
  }
  .page-home .nav-home {
    width: 50%;
    left: 50%;
    top: 50%;
    margin-top: 0;
    transform: translate(0, -50%);
  }
}

/* scrollbar */
* {
  scrollbar-face-color: #cccccc;
  /*面子*/
  scrollbar-arrow-color: #fff;
  /*箭头*/
  scrollbar-3dlight-color: #ccc;
  /*最外左*/
  scrollbar-highlight-color: #ccc;
  /*左二*/
  scrollbar-shadow-color: #ccc;
  /*右二*/
  scrollbar-darkshadow-color: #ccc;
  /*右一*/
  scrollbar-track-color: #eeeeee;
  /*滑道*/
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/*滚动条宽度*/
/*滚动条按钮*/
/*滑道全部*/
::-webkit-scrollbar-track-piece {
  background-color: #eee;
  /*滑道*/
  -webkit-border-radius: 0px;
  /*滑道圆角宽度*/
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /*滑动条表面*/
  border: solid 2px #ccc;
  /*滑动条边框*/
  border-radius: 7px;
  /*滑动条圆角宽度*/
}

/*横竖滚动条交角*/
::-webkit-scrollbar-corner {
  background-color: none;
}

/*横竖滚动条交角图案*/
::-webkit-resizer {
  /*background-image: url(/public/img/resizer-inactive.png);*/
  background-repeat: no-repeat;
  background-position: bottom right;
}

/*鼠标滑过滑动条*/
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
  border: solid 2px #bbb;
  /*滑动条边框*/
}
