html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  font-family: "microsoft yahei", "Source Sans Pro", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  line-height: 1.6;
  font-size: 12px;
  background-size: cover;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}
